
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>
              Sign Up Form
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="signUpform" (ngSubmit)="onSignUp()">

              <mat-form-field class="eaxmple-full-width" appearance="outline">
                <mat-label>User Name</mat-label>
                <input type="text" matInput placeholder="userName" formControlName="userName" id="userName">

                <mat-error class="text-danger"
                    *ngIf="sc['userName'].invalid && sc['userName'].touched && sc['userName'].hasError('required')">
                  User Name is <strong>required</strong>
                </mat-error> 
              </mat-form-field>

              <ng-container *ngIf="sc['userName'].dirty">
                <mat-error class="text-danger"
                    *ngIf="sc['userName'].hasError('minlength')">
                  Minimum length of User Name should be {{sc['userName'].errors?.['minlength'].requiredLength}}
                  and actual length is {{sc['userName'].errors?.['minlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                    *ngIf="sc['userName'].hasError('maxlength')">
                  Maximum length of User Name should be {{sc['userName'].errors?.['maxlength'].requiredLength}}
                  and actual length is {{sc['userName'].errors?.['maxlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                    *ngIf="sc['userName'].hasError('pattern')">
                  User Name should not include Special Charactors and Number!!!
                </mat-error>
              </ng-container>

              <mat-form-field class="eaxmple-full-width" appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input type="tel" matInput placeholder="1234567890" formControlName="mobile" id="mobile">

                <mat-error class="text-danger"
                    *ngIf="sc['mobile'].invalid && sc['mobile'].touched && sc['mobile'].hasError('required')">
                  Contact is <strong>required</strong>
                </mat-error>

              </mat-form-field>

              <ng-container *ngIf="sc['mobile'].dirty">
                <mat-error class="text-danger"
                    *ngIf="sc['mobile'].hasError('minlength')">
                  Minimum length of Contact number should be {{sc['mobile'].errors?.['minlength'].requiredLength}}
                  and actual length is {{sc['mobile'].errors?.['minlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                    *ngIf="sc['mobile'].hasError('maxlength')">
                  Maximum length of Contact number should be {{sc['mobile'].errors?.['maxlength'].requiredLength}}
                  and actual length is {{sc['mobile'].errors?.['maxlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                    *ngIf="sc['mobile'].hasError('pattern')">
                  Invalid Contact number
                </mat-error>
              </ng-container>

              <mat-form-field class="eaxmple-full-width" appearance="outline">
                <mat-label>Email ID</mat-label>
                <input type="text" matInput placeholder="Email" formControlName="email" id="email"> 
              </mat-form-field>

              <mat-error class="text-danger"
                    *ngIf="sc['email'].invalid && sc['email'].touched && sc['email'].hasError('required')">
                  Email Id is <strong>required</strong>
              </mat-error>

              <mat-error class="text-danger"
                    *ngIf="sc['email'].dirty && sc['email'].hasError('pattern')">
                  Please enter valid Email Address
              </mat-error>

              <div class="spinner-border text-danger" role="status" *ngIf="sc['email'].pending">
                <span class="sr-only">Loading...</span>
              </div>

              <mat-error class="text-success" *ngIf="sc['email'].valid">
                Email is valid
              </mat-error>

              <mat-error class="text-danger"
                  *ngIf="sc['email'].dirty && sc['email'].hasError('emailExist')">
                {{getEmail.errors?.['emailExist']}}
              </mat-error>

              <mat-form-field class="eaxmple-full-width" appearance="outline">
                <mat-label>Employed ID</mat-label>
                <input type="text" matInput placeholder="E289" formControlName="empId" id="empId">

                <mat-error class="text-danger"
                    *ngIf="sc['empId'].invalid && sc['empId'].touched && sc['empId'].hasError('required')">
                    Employed Id is <strong>required</strong>
                </mat-error>

                <mat-error class="text-danger"
                    *ngIf="sc['empId'].dirty && sc['empId'].touched && sc['empId'].hasError('isValidEmpID')">
                    {{getEmpID.errors?.['isValidEmpID']}}
                </mat-error>

              </mat-form-field>

              <div>
                <mat-label class="mr-2"><h6>Gender</h6></mat-label>
                <mat-radio-group formControlName="gender">
                  <ng-container *ngFor="let gen of genderArr">
                    <mat-radio-button color="primary" [value]="gen" class="mr-2">{{gen | titlecase}}</mat-radio-button>
                  </ng-container>
                </mat-radio-group>
                <mat-error class="text-danger"
                    *ngIf="sc['gender'].invalid && sc['gender'].touched && sc['gender'].hasError('required')">
                    Please select gender
                </mat-error>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-label><h6>Skills</h6></mat-label>
                  <button type="button" mat-stroked-button color="accent"
                      (click)="addSkill()"
                      *ngIf="skillArr.length < 5; else noSkill"
                      [disabled]="skillArr.invalid"> + Add another Skill</button>
                  <ng-template #noSkill>
                      <span class="text-warning">
                        You can Add only 5 Skills
                      </span>
                  </ng-template>

                  <div class="row" *ngFor="let skill of skillArr.controls; let i = index">
                    <div class="col-md-10">
                      <mat-form-field class="eaxmple-full-width" appearance="outline" formArrayName="skills">
                        <input type="text" matInput [formControlName]="i" id="skill">
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" *ngIf="i > 0">
                      <button type="button" mat-raised-button color="warn" (click)="onRemove(i)">Remove</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6" formGroupName="currentaddress">
                  <h6>Current Address</h6>
                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country">
                      <mat-option *ngFor="let country of countrisArr" [value]="country.Country">{{country.Country}}</mat-option>
                    </mat-select>

                    <mat-error class="text-danger" 
                      *ngIf="sfg['country'].invalid && sfg['country'].touched && sfg['country'].hasError('required')">
                    Country is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>State</mat-label>
                    <input type="text" matInput formControlName="state" id="state" placeholder="State">

                    <mat-error class="text-danger" 
                      *ngIf="sfg['state'].invalid && sfg['state'].touched && sfg['state'].hasError('required')">
                      State is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text" matInput formControlName="city" id="city" placeholder="city">

                    <mat-error class="text-danger" 
                      *ngIf="sfg['city'].invalid && sfg['city'].touched && sfg['city'].hasError('required')">
                      City is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input type="text" matInput formControlName="zipCode" id="zipCode" placeholder="zipCode">

                    <mat-error class="text-danger" 
                      *ngIf="sfg['zipCode'].invalid && sfg['zipCode'].touched && sfg['zipCode'].hasError('required')">
                      Zip Code is <strong>required</strong>
                    </mat-error>

                    <ng-container *ngIf="sfg['zipCode'].dirty">
                      <mat-error class="text-danger"
                          *ngIf="sfg['zipCode'].hasError('minlength')">
                        Minimum length of Zip Code should be {{sfg['zipCode'].errors?.['minlength'].requiredLength}}
                        and actual length is {{sfg['zipCode'].errors?.['minlength'].actualLength}}
                      </mat-error>
    
                      <mat-error class="text-danger"
                          *ngIf="sfg['zipCode'].hasError('maxlength')">
                        Maximum length of Zip Code should be {{sfg['zipCode'].errors?.['maxlength'].requiredLength}}
                        and actual length is {{sfg['zipCode'].errors?.['maxlength'].actualLength}}
                      </mat-error>
    
                      <mat-error class="text-danger"
                          *ngIf="sfg['zipCode'].hasError('pattern')">
                        Invalid Zip Code
                      </mat-error>
                    </ng-container>
    

                  </mat-form-field>  
                </div>

                <div class="col-md-6" formGroupName="permanentaddress">
                  <h6>Permanent Address</h6>
                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country">
                      <mat-option *ngFor="let country of countrisArr" [value]="country.Country">{{country.Country}}</mat-option>
                    </mat-select>

                    <!-- <mat-error class="text-danger" 
                      *ngIf="sfg['country'].invalid && sfg['country'].touched && sfg['country'].hasError('required')">
                    Country is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>
                  
                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>State</mat-label>
                    <input type="text" matInput formControlName="state" id="state" placeholder="State">

                    <!-- <mat-error class="text-danger" 
                      *ngIf="sfg['state'].invalid && sfg['state'].touched && sfg['state'].hasError('required')">
                      State is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>

                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text" matInput formControlName="city" id="city" placeholder="city">

                    <!-- <mat-error class="text-danger" 
                      *ngIf="sfg['city'].invalid && sfg['city'].touched && sfg['city'].hasError('required')">
                      City is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>

                  <mat-form-field class="eaxmple-full-width" appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input type="text" matInput formControlName="zipCode" id="zipCode" placeholder="zipCode">

                    <!-- <mat-error class="text-danger" 
                      *ngIf="sfg['zipCode'].invalid && sfg['zipCode'].touched && sfg['zipCode'].hasError('required')">
                      Zip Code is <strong>required</strong>
                    </mat-error>

                    <ng-container *ngIf="sfg['zipCode'].dirty">
                      <mat-error class="text-danger"
                          *ngIf="sfg['zipCode'].hasError('minlength')">
                        Minimum length of Zip Code should be {{sfg['zipCode'].errors?.['minlength'].requiredLength}}
                        and actual length is {{sfg['zipCode'].errors?.['minlength'].actualLength}}
                      </mat-error>
    
                      <mat-error class="text-danger"
                          *ngIf="sfg['zipCode'].hasError('maxlength')">
                        Maximum length of Zip Code should be {{sfg['zipCode'].errors?.['maxlength'].requiredLength}}
                        and actual length is {{sfg['zipCode'].errors?.['maxlength'].actualLength}}
                      </mat-error>
    
                      <mat-error class="text-danger"
                          *ngIf="sfg['zipCode'].hasError('pattern')">
                        Invalid Zip Code
                      </mat-error>
                    </ng-container> -->
                  </mat-form-field>  
                </div>

                <div class="col-md-12">
                  <mat-label>
                    <mat-checkbox formControlName="isAddress" id="isAddress">
                      Current address and Permanent address are same.
                    </mat-checkbox>
                  </mat-label>
                </div>
              </div>

              <mat-form-field class="eaxmple-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" id="password" 
                  [type]="showPassword? 'text' : 'password'">
                <i class="fas" [ngClass]="{'fa-eye-slash' : !showPassword , 'fa-eye' : showPassword}"
                  (click)="showPassword = !showPassword"></i>
                <mat-error class="text-danger" 
                    *ngIf="sc['password'].invalid && sc['password'].touched && sc['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <ng-container *ngIf="sc['password'].dirty">
                <mat-error class="text-danger"
                    *ngIf="sc['password'].hasError('minlength')">
                  Minimum length of password should be {{sc['password'].errors?.['minlength'].requiredLength}}
                  and actual length is {{sc['password'].errors?.['minlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                    *ngIf="sc['password'].hasError('maxlength')">
                  Maximum length of password should be {{sc['password'].errors?.['maxlength'].requiredLength}}
                  and actual length is {{sc['password'].errors?.['maxlength'].actualLength}}
                </mat-error>

                <mat-error class="text-danger"
                    *ngIf="sc['password'].hasError('pattern')">
                  password must contain more than 8 Charactors, 1 number, 1 uppercase letter, and 1 Special Charactor.
                </mat-error>
              </ng-container>

              <mat-form-field class="eaxmple-full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="confirmPassword" id="confirmPassword"
                [type]="showConfirmPassword? 'text' : 'password'">
                <i class="fas" [ngClass]="{'fa-eye-slash' : !showConfirmPassword , 'fa-eye' : showConfirmPassword}"
                  (click)="showConfirmPassword = !showConfirmPassword"></i>
                
              </mat-form-field>
              <mat-error class="text-danger"
                      *ngIf="sc['password'].value !== sc['confirmPassword'].value">
                    Password and confirm Password must be same
              </mat-error>

              <button type="submit" mat-raised-button color="primary" class="btn-block" [disabled]="signUpform.invalid">Sign Up</button>

            </form>
          </mat-card-content>
        </mat-card>
    </div>
    {{signUpform.getRawValue() | json}}
  </div>
</div>